@import './base.scss';
// @import './media.scss';
@import './fonts.scss';
/* // ! Разница между "@import './fonts.scss';" и "@import url(./fonts.scss);" заключается в способе указания пути к файлу со стилями. 

// ! "@import './fonts.scss';" использует относительный путь и указывает на файл "fonts.scss", который находится в той же директории, что и текущий файл со стилями.

// ! "@import url(./fonts.scss);" также указывает на файл "fonts.scss", но использует абсолютный путь, начинающийся с ключевого слова "url". Он может использоваться для указания пути к файлу, который находится в другой директории или на удаленном сервере.

// ! В общем случае, использование относительных путей предпочтительнее, так как они более надежны и не зависят от изменений структуры файловой системы. */

// ! надо импортировать media.scss внутри main.scss, иначе это может привести к проблемам с производительностью и сложности в поддержке кода.

:root {
  /* fonts */
  --font_Bstr-R: BestermindRegular, Roboto;
  --font_CormUp-B: CormorantUpright-Bold, Roboto;
  --font_CormUp-R: CormorantUpright-Regular, Roboto;
  --font_CormUp-SB: CormorantUpright-SemiBold, Roboto;
  --font_OpSns-I: OpenSans-Italic, Roboto;
  --font_OpSns-R: OpenSans-Regular, Roboto;
  --font_OpSns-SB: OpenSans-SemiBold, Roboto;

  /* inner size for responsive */
  --inSize: calc(1vw + 1vh);

  /* colors */
  --color_white: #ffffff;
  --color_black: #000000;

  --color_main: #dcca87;
  --color_desc: #aaaaaa;
  --color_bodyBg: #0c0b08;
  --color_2ndryText: #f5efdb;

  --color_btnTxt: var(--color_bodyBg);
  --color_btnBg: var(--color_main);
  --color_btnTxtHover: var(--color_btnBg);
  --color_btnBgHover: var(--color_btnTxt);
  --color_date: #fafafa;
  --color_lineVert: var(--color_date);
  --color_navBG: var(--color_btnTxt);
  --color_aboutUsBg: #040404;
  --color_bookTBg: #0c0c0c;
  --gradient_slider: radial-gradient(var(--color_white), #ffffff00);
  --gradient_lineVert: linear-gradient(var(--color_main), rgba(220, 202, 135, 0.76));
  --gradient_lineVertHover: linear-gradient(var(--color_white), rgba(255, 255, 255, 0.76));

  --bg__menuSect: left 50% / 100% no-repeat url('../imgs/mathew.png');

  /* another colors */
  --vector: #ababab;
  --rectangle-28: #c4c4c4;
  --rectangle-58: #c4c4c4;
  --g: #272727;


  --size_logo: 146px;
  --sizeW__borders: 65.27%;
  --sizeH__borders: 59.22%;
  --fatness__borders: 24px;
  --height_nav: 34px;
  --pos__specialProdImg: -85px 0px;

  --borders__bdImgs: var(--fatness__borders) solid var(--color_main);

  // --transition_all: ease-in .5s;
  // transition: var(--transition_all);
  --transition_text: ease-in .3s;
  --transition_carousel: transform 0.7s ease-in-out;

  --fillAvailable: -webkit-fill-available;

}

#app {
  height: 100vh;
  width: 100%;
  // overflow: hidden;
}

.container {
  display: flex;
  // align-items: center;
  // justify-content: center;
}

section .container {
  height: 100vh;
}

.wrapper {
  display: flex;
  max-width: 1300px;
  width: 100%;
  margin: auto;
}

option {
  background: #000;
  color: white;
}

.slider {
  width: 2px;
  height: 57px;
  background: var(--gradient_slider);
}

.spoon::after {
  content: url('../imgs/spoon.svg');
  position: absolute;
  height: 9px;
  width: 40px;
}

.img100 {
  width: 100%;
  height: 100%;
}

.img100vh {
  width: 100vh;
  height: 100vh;
}

.bg {
  position: absolute;
  object-fit: cover;
}


.logo {
  max-width: var(--size_logo);
  max-height: var(--size_logo);
  position: absolute;
  z-index: 1;
}


.line {
  width: 16px;
  height: 1px;
  background: var(--color_main);
}

.lineVert::before {
  content: '';
  height: 61px;
  width: 1px;
  background-image: var(--gradient_lineVert);
  transition: background-image var(--transition_text);
}

.lineHorizTag {
  width: 119px;
  height: 1px;
  background: var(--color_lineVert);
}

.lineCurve {

  &__left,
  &__right {
    position: absolute;
    background-size: contain;
    z-index: -1;
  }

  &__left {
    background: url('../imgs/curveLine_left.svg') no-repeat center center;
    left: 0;
    width: max-content;
  }

  &__right {
    background: url('../imgs/curveLine_right.svg') no-repeat center center;
    right: 0;
    width: max-content;
  }
}

.desc,
.btn,
.scroll,
.pages *,
.nav__list,
.nav__right,
select,
input[type="date"],
input[type="time"] {
  font-size: 16px;
  line-height: 175%;
  letter-spacing: 0.64px;
}

.desc {
  color: var(--color_desc);
  font-family: var(--font_OpSns-R);
}

.btn {
  font-family: var(--font_CormUp-B);
  color: var(--color_btnTxt);
  background: var(--color_btnBg);
  padding: 8px 32px;
  width: fit-content;

  &:hover,
  option:hover {
    color: var(--color_btnTxtHover);
    background: var(--color_btnBgHover);
  }
}

.item {
  * {
    white-space: nowrap;
  }

  &s {
    &__title {
      font-family: var(--font_CormUp-SB);
      font-size: 45px;
      letter-spacing: 1.8px;
      color: var(--color_white);
      font-variant-numeric: lining-nums tabular-nums;
      text-transform: capitalize;
      line-height: 130%;
      text-align: center;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 40px;
      max-width: 412px;
      width: 100%;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    column-gap: 32px;
    margin-bottom: 8px;
  }

  &__name {
    display: flex;
    flex-grow: 1;
    white-space: nowrap;

    color: var(--color_main);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--font_CormUp-B);
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
  }

  &__price {
    color: var(--color_white);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--font_CormUp-B);
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.92px;
    text-transform: capitalize;
  }

  &__desc {
    color: var(--color_desc);
    font-family: var(--font_OpSns-R);
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.64px;
  }

}

.title {
  font-family: var(--font_CormUp-SB);
  font-size: 64px;
  letter-spacing: 1.92px;
  color: var(--color_main);

  &__info {
    font-family: var(--font_CormUp-B);
    font-size: 23px;
    // letter-spacing: 0.92px; // ! не похоже на 0.92px
    letter-spacing: 0.80px;
    position: relative;
    color: var(--color_white);
  }

  &,
  &__info {
    font-variant-numeric: lining-nums tabular-nums;
    text-transform: capitalize;
    line-height: 130%;
  }
}

.sites {
  left: 57px;
  top: 52%;

  transform: rotate(-90deg);
  column-gap: 40px;

  a {
    font-family: var(--font_OpSns-R);
    color: var(--color_white);
    font-size: 18px;
    line-height: 175%;
    letter-spacing: 0.72px;
  }
}

.pages {
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);

  .line {
    padding: unset;
  }

  * {
    display: flex;
    text-transform: capitalize;

    padding: 4px;

    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--font_CormUp-SB);
    letter-spacing: 0.64px;
  }

  &__left a {
    color: var(--color_white);
  }

  &__right a {
    color: var(--color_2ndryText);
  }
}

.scroll {
  right: 120px;
  bottom: 10px;
  flex-direction: column;
  row-gap: 24px;

  color: var(--color_main);
  font-family: var(--font_CormUp-B);
  text-transform: uppercase;

  &:hover {
    color: var(--color_2ndryText) !important;

    &.lineVert::before {
      // animation: lineVertAn .5s ease;
      background-image: var(--gradient_lineVertHover);
    }

    /* @keyframes lineVertAn {
      100% {
        background-image: var(--gradient_lineVertHover);
      }
    } */
  }
}

.hdnScrlbrs {
  &::-webkit-scrollbar {
    display: none;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &::-webkit-scrollbar-track {
    display: none;
  }

  &::-webkit-scrollbar-track-piece {
    display: none;
  }

  &::-webkit-scrollbar-thumb {
    display: none;
  }

  &::-webkit-scrollbar-corner {
    display: none;
  }

  &::-webkit-resizer {
    display: none;
  }
}

.sites,
.pages,
.scroll {
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 99;
}

.nav {

  position: fixed;
  top: 0;
  width: 100%;

  background: var(--color_navBG);

  z-index: 99;

  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
  }

  &__logo {
    padding: 32px 0;
    font-family: var(--font_CormUp-B);
    font-size: 44px;
    line-height: 130%;
    letter-spacing: 1.76px;
    text-transform: uppercase;
  }

  &__list {
    margin-left: 165px;
    column-gap: 32px;
    font-family: var(--font_OpSns-R);
    letter-spacing: 0.64px;
  }

  &__right {
    align-items: center;
    column-gap: 48px;
    font-family: var(--font_OpSns-SB);
    letter-spacing: 0.8px;
    position: relative;
  }

  &__list,
  &__right {
    display: flex;
    text-transform: capitalize;
  }
}

#page_01 {
  margin-top: var(--height_nav);
}

.borders {
  position: relative;
  padding: var(--fatness__borders);

  &::before,
  &::after {
    content: '';
    position: absolute;
    width: var(--sizeW__borders);
    height: var(--sizeH__borders);

    border: var(--borders__bdImgs);
    z-index: -1;
  }

  &::after {
    left: 0;
    bottom: 0;

    border-top: none;
    border-right: none;
  }

  &::before {
    top: 0;
    right: 0;

    border-bottom: none;
    border-left: none;
  }
}


#carousel {
  display: flex;
  align-items: center;

  * {
    transition: var(--transition_carousel);
  }

  &.horizontal {
    overflow-y: hidden;
    overflow-x: scroll;
  }

  &.vertical {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  li {
    flex: 0 0 100%;
  }
}

%regularTemp {
  &-rightImg {}
}

.hero {
  position: relative;

  &__body {
    column-gap: 180px;
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: center;

    max-width: 453px;
    width: 100%;

    .title {
      font-family: var(--font_CormUp-B);
      font-size: 90px;
      // letter-spacing: 3.6px;
      letter-spacing: 3.5px;
      margin-bottom: 32px;

      & span {
        letter-spacing: 2.5px;
      }

      &__info {
        margin-bottom: 25px;

        &.spoon::after {
          top: 24px;
          left: 0;
        }
      }

    }

    .desc {
      margin-bottom: 32px;
    }
  }

  &__right {
    max-width: 666px;
    max-height: 736px;

    li {
      max-width: 619px;
      max-height: 688px;
      overflow: hidden;
    }

    & .hero__img {
      transform: translate(1.8%, -14.3%) scale(1.675);
      
      object-fit: cover;
      object-position: center;
    }

  }
}

main {
  overflow: hidden;
}

.aboutUs {
  position: relative;
  background: var(--color_aboutUsBg);
  max-height: 97vh;

  .container {
    margin-top: 83px;
  }

  &__body {
    position: relative;
    place-items: center;
    padding-right: 31px;
  }

  .title,
  &__center {
    margin-bottom: 17px;
  }

  &__left {
    margin-right: 74px;
    text-align: right;

    .spoon::after {
      right: 0;
      transform: rotateY(180deg);
    }

    .btn {
      margin-left: auto;
    }
  }

  &__center {
    max-height: 703px;
    max-width: 84px;
  }

  &__right {
    margin-left: 96px;
    text-align-last: left;

    .spoon::after {
      left: 0;
    }

    .btn {
      margin-right: auto;
    }
  }

  &__left,
  &__right {
    display: flex;
    flex-direction: column;
    row-gap: 32px;
    position: relative;
  }

  &__left,
  &__right,
  &__center {
    z-index: 1;
  }

  &__G {
    position: absolute;
    max-width: 391px;
    max-height: 415px;
    right: 0;
    top: 0;
    left: -15px;
    bottom: 26px;
    margin: auto;
  }

  .spoon::after {
    top: 40px;
  }

  .btn {
    max-width: fit-content;
  }
}

.bookTable .title,
.special .title {
  text-align: center;

  &__info {
    letter-spacing: 0.92px;
    margin-bottom: 22px;

    &.spoon::after {
      bottom: -4px;
      right: 0;
      left: 0;
      margin: 0 auto;
    }
  }
}

.bookTable {
  position: relative;

  .logo {
    right: 152px;
    top: -18px;
  }

  .container {
    height: 78.4vh;
  }

  .wrapper {
    max-width: 1364px;
  }

  &__block {
    border: 1px solid rgba(220, 202, 135, 0.20);
    background: var(--color_bookTBg);
    box-shadow: 22px 30px 95px 1px rgba(0, 0, 0, 0.70);
    width: 100%;
    place-items: center;
    text-align: center;
    padding: 48px 32px;
  }

  .title {
    margin-bottom: 66px;
  }

  .form {
    display: flex;
    // justify-content: center;
    // flex-wrap: wrap;
    width: 100%;
    gap: 32px;
    margin-bottom: 70px;

    * {
      max-width: 412px;
      width: 100%;
      padding: 14px 16px;
    }
  }

  input[type="date"],
  input[type="time"] {
    &::-webkit-datetime-edit {
      padding-right: 95px;
    }

    &::-webkit-datetime-edit-fields-wrapper {
      // background: silver;
    }

    &::-webkit-datetime-edit-text {
      // color: red;
    }

    &::-webkit-datetime-edit-month-field {
      // color: blue;
    }

    &::-webkit-datetime-edit-day-field {
      // color: green;
    }

    &::-webkit-datetime-edit-year-field {
      // color: purple;
    }

    &::-webkit-inner-spin-button {
      display: none;
    }

    &::-webkit-calendar-picker-indicator {
      width: 100%;
      background: url('../imgs/angle_btm.svg');
      background-position: right;
      background-repeat: no-repeat;
      background-size: 24px;
    }
  }

  select {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background: url('../imgs/angle_btm.svg');
    background-position: 96%;
    background-repeat: no-repeat;
    background-size: 24px;
  }

  select,
  input[type="date"],
  input[type="time"] {
    color: var(--color_desc);
    font-variant-numeric: lining-nums tabular-nums;
    font-family: var(--font_CormUp-SB);
    text-transform: capitalize;
    border: 1px solid var(--color_2ndryText);
    position: relative;

    /* &::after {
      content: url('../imgs/angle_btm.svg');
      position: absolute;
      top: 30%;
      right: 5px;
      width: 30px;
      height: 30px;
      z-index: -1;
      cursor: pointer;
    } */
  }

  .btn {
    /* ! pixelPerfect */
    margin-top: -7px;
    margin-bottom: 7px;
  }

}

.menu {
  position: relative;
  margin-top: calc(0px - var(--height_nav));

  background: var(--bg__menuSect);

  /* &__bg {
    object-fit: contain;
    z-index: -1;
  } */

  &__body {
    margin: auto 0;
  }

  &__list {
    display: flex;
    flex-direction: column;
    row-gap: 64px;
    padding-left: 25px;

    /*     & {
      position: relative;
    }

    a::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      max-width: var(--fillAvailable);
      height: 0.1em;
      background: var(--color_white);
      opacity: 0;
      transition: opacity 300ms, transform 300ms;
    }

    a:hover::after,
    a:focus::after {
      opacity: 1;
      transform: translate3d(0, 0.2em, 0);
    }

    li a {
      overflow: hidden;
    }

    li a::after {
      opacity: 1;
      transform: translate3d(-100%, 0, 0);
    }

    li a:hover::after,
    li a:focus::after {
      transform: translate3d(0, 0, 0);
    } */
  }

  &__link {
    color: var(--color_white);

    &:hover {
      color: var(--color_white) !important;
      text-decoration-line: underline;
    }
  }

  .logo {
    left: 147px;
    top: 32px;
  }

}

.special {

  .wrapper {
    flex-direction: column;
    align-items: center;
    row-gap: 65px;
    margin: calc(132px - var(--height_nav)) auto;
  }

  .container {
    height: unset !important;
  }

  &__title {
    text-align: center;

    & .title {
      letter-spacing: 2.56px !important;
    }
  }

  &__block {
    display: flex;
    align-items: center;
    column-gap: 28px;

    &-left {
      .lineHorizTag {
        margin-left: 13px;
      }
    }

    &-center {
      object-fit: cover;
      object-position: var(--pos__specialProdImg);
      max-width: 420px;
      height: 659px;
    }
  }

  .items__title {
    margin-bottom: 48px;
  }
}