:root {
    --restaurant-home: #0c0b08;
    --vector: #ababab;
    --rectangle-28: #c4c4c4;
    --vector: #dcca87;
    --chase-the-new-flavour: #ffffff;
    --explore-menu: #0c0b08;
    --01: #ffffff;
    --02: #f5efdb;
    --rectangle-32: #040404;
    --view-more: #0c0c0c;
    --1-person: #aaaaaa;
    --rectangle-58: #c4c4c4;
    --16-apr-2021: #fafafa;
    --g: #272727;
}